*~
.DS_Store
build*
install*
.nfs*
share/
__pycache__
apidocs/
*.swp
.pydevproject
.project
.ropeproject
*.cproject
.tags*
*.pyc
.idea
/.vscode
gen_commnet/__pycache__/
gen_mavlinkHPP/generated/
gen_mavlinkHPP/pymavlink/__pycache__/
gen_mavlinkHPP/pymavlink/tools/__pycache__/
uav/.catkin_workspace
uav/build/
uav/devel/
uav/src/CMakeLists.txt

